@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;400;700&family=Macondo&display=swap');

html, body {
    margin: 0;
    padding: 0;
}

*{
    font-family: 'Dosis', sans-serif;
}

nav {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 55px;
    background: #a00000;
}

.logoSite {
    float: left;
    width: 150px;
}

/* comentario da função */

nav a {
    display: block;
    width: auto;
    height: 56px;
    padding: 4px;
    float: left;
    line-height: 53px;
    color: #ffff;
    text-decoration: none;
    font-family: 'Macondo', cursive;
    font-weight: 200;
    font-size: 18px;
    font-style: oblique;
}

/* regras dos conteudo */
main {
    padding: 80px 0;
}

.homeArticle{
    width: 42%;
    background: #ccc;
    margin: 50px 2%;
    border-radius: 15px;
    box-shadow: 7px 7px 9px -2px rgb(0 0 0 / 74%);
    padding: 15px;
    display: inline-block;
}

.homeArticle img {
    float: left;
    margin-right: 10px;
    border: 1px solid red;
    border-radius: 15px;
}

.homeArticle h2 {
    font-size: 16px;
    text-transform: uppercase;
    color: red;
}

.homeArticle p {
    font-style: italic;
    text-indent: 20px;
}

.homeArticle a {
    display: inline-block;
    width: auto;
    padding: 4px;
    background: red;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    float: right;
    transition: 0.15s padding ease-out, 0.15s border-radius ease-out, 0.15s border ease-out;
}

.homeArticle.active{
    background: green;
}

.homeArticle a:hover {
    /* background: green; */
    box-shadow: 7px 7px 9px -2px rgb(0 0 0 / 74%);
    padding: 6px;
    border-radius: 15px;
    transition: 0.15s padding ease-out, 0.15s border-radius ease-out;
}